@model IEnumerable<laohaldusprojekt.ViewModel.ProductIndexViewModel>

@{
    ViewData["Title"] = "Tooted";
}
<h2>Products</h2>

<p>
    <a asp-action="Create">Add New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
    </div>
</form>
<hr />

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nimi</th>
            <th>Kogus</th>
            <th>Hind</th>
            <th>Kategooria</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => item.TooteNimi)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Kogus)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Hind)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Kategooria)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



